body {
    background-image: url('images/backgroun\ 1.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

#rules{
    margin-top: 50%;
}

.gameover-background {
    background-image: url('images/game\ over.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  #start {
    display: block;
  }

  #gamearea {
    margin-left: auto;
    margin-right: auto;
    transform: translateY(20%);
  }

  #game {
    display: none;
  }

  #gameover {
    display: none;
  }

  #table1, #table2, #table3, #muchachona {
    height: 150px;
  }

  #beer {
    height: 50px;
  }