body {
    background-image: url('images/backgroun\ 1.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#rules{
    margin-top: 50%;
}

.gameover-background {
    background-image: url('images/game\ over.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  #start {
    display: block;
  }

  #gamearea {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content: center;
  }

  #game {
    display: none;
  }

  #gameover {
    display: none;
  }

  #table1, #table2, #table3, #muchachona {
    height: 150px;
  }

