body {
    background-image: url('images/backgroun\ 1.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

#rules{
    margin-top: 50%;
}

#canvas {
    padding: 0;
    margin: auto;
    display: block;
}

.gameover-background {
    background-image: url('images/game\ over.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }